<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoCoordTrans_v2._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GeoCoordTrans_v2._1.Properties.Settings>
            <setting name="Constring" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source="|DataDirectory|\cdb.mdb";Persist Security Info=True</value>
            </setting>
            <setting name="register" serializeAs="String">
                <value>SOFTWARE\\Umbrella Technology\\GeoCoordTrans</value>
            </setting>
            <setting name="pageInfo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Input - Make CSV file</string>
                        <string>Input - Select file</string>
                        <string>Input - Select separator</string>
                        <string>Input - Coordinate type</string>
                        <string>Input - Activate fieldnames</string>
                        <string>Input - Select fieldnames</string>
                        <string>Input - Coordinate system</string>
                        <string>Input - Unit</string>
                        <string>Output - Select file</string>
                        <string>Output - Coordinate type</string>
                        <string>Output - Coordinate system</string>
                        <string>Output - Unit</string>
                        <string>Convert</string>
                        <string>Finish</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="XNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Easting</string>
                        <string>EASTING</string>
                        <string>EAST</string>
                        <string>X</string>
                        <string>x</string>
                        <string>Longitude</string>
                        <string>longitude</string>
                        <string>easting</string>
                        <string>E</string>
                        <string>East</string>
                        <string>east</string>
                        <string>e</string>
                        <string>long</string>
                        <string>Lng</string>
                        <string>LNG</string>
                        <string>lng</string>
                        <string>Long</string>
                        <string>LONG</string>
                        <string>LON</string>
                        <string>Lon</string>
                        <string>lon</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="YNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Northing</string>
                        <string>NORTH</string>
                        <string>LATITUDE</string>
                        <string>Y</string>
                        <string>y</string>
                        <string>Latitude</string>
                        <string>latitude</string>
                        <string>northing</string>
                        <string>N</string>
                        <string>North</string>
                        <string>north</string>
                        <string>n</string>
                        <string>lat</string>
                        <string>Lat</string>
                        <string>lat</string>
                        <string>LAT</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ZNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Height</string>
                        <string>HEIGHT</string>
                        <string>height</string>
                        <string>Z</string>
                        <string>z</string>
                        <string>Elevation</string>
                        <string>Elev</string>
                        <string>elev</string>
                        <string>ELEV</string>
                        <string>ELEVATION</string>
                        <string>elevation</string>
                        <string>ALT</string>
                        <string>alt</string>
                        <string>ALTITUDE</string>
                        <string>Altitude</string>
                        <string>altitude</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IDNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ID</string>
                        <string>id</string>
                        <string>iD</string>
                        <string>Id</string>
                        <string>pointid</string>
                        <string>Point ID</string>
                        <string>Pt_ID</string>
                        <string>PT_ID</string>
                        <string>_ID</string>
                        <string>ptID</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PageInfo2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Input database - select database</string>
                        <string>Select output table</string>
                        <string>Input table - select table</string>
                        <string>Input table - type</string>
                        <string>Input table - select columns</string>
                        <string>Input table - select system</string>
                        <string>Input table - select unit</string>
                        <string>Output table - enter name</string>
                        <string>Output table - type</string>
                        <string>Output table - system</string>
                        <string>Output table - Select unit</string>
                        <string>Convert</string>
                        <string>Finish</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Protection" serializeAs="String">
                <value>SOFTWARE\\Umbrella Technology\\Protection</value>
            </setting>
        </GeoCoordTrans_v2._1.Properties.Settings>
    </userSettings>
</configuration>